{% extends "heatmap/base.html" %}
{% block content %}
    <div>
        <h2>About</h2>
        <p style="padding: 1rem">
            TweetMap is a visualization tool to see where tweets are being sent from across the US. 
            Either see where all tweets are located or search by a specific hashtag!
            Made with PostgreSQL and python using django, tweepy, pandas, and folium.
            <br>
            <p>
                <small>Follow me on Twitter <a href="https://twitter.com/sdnytj">@sdnytj</a>!</small>
            </p>
        </p>
    </div>
{% endblock content %}